  <app-navbar></app-navbar>

  <div class="container">
    <div class="card">
      <img src="https://imgs.search.brave.com/cNP_FFLsyjvOqf8Wz42ZPEA2HpRWV7Ot52bMchvNW6k/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/cHJlbWl1bS12ZWN0/b3IvYWNjb3VudC1p/Y29uLXVzZXItaWNv/bi12ZWN0b3ItZ3Jh/cGhpY3NfMjkyNjQ1/LTU1Mi5qcGc_c2Vt/dD1haXNfaHlicmlk/Jnc9NzQwJnE9ODA" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Aarón Ulises Torres Corte</h5>
        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p> -->
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">aaron.torresc@alumno.buap.mx</li>
        <li class="list-group-item">55 1196 2078</li>
        <li class="list-group-item">Rio Balsas 5921</li>
        <li class="list-group-item">27/10/2004</li>
      </ul>
    </div>
    <div class="card">
      <img src="https://imgs.search.brave.com/cNP_FFLsyjvOqf8Wz42ZPEA2HpRWV7Ot52bMchvNW6k/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/cHJlbWl1bS12ZWN0/b3IvYWNjb3VudC1p/Y29uLXVzZXItaWNv/bi12ZWN0b3ItZ3Jh/cGhpY3NfMjkyNjQ1/LTU1Mi5qcGc_c2Vt/dD1haXNfaHlicmlk/Jnc9NzQwJnE9ODA" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Johan Yuri Martinez García</h5>
        <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p> -->
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">johan.martinezga@alumno.buap.mx</li>
        <li class="list-group-item">221 179 0284</li>
        <li class="list-group-item">Cafetal 32A</li>
        <li class="list-group-item">22/10/2004</li>
      </ul>
    </div>

  </div>
