<app-navbar></app-navbar>
<div class="container">

  <div class="card">
    <img src="https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExcXlsdnd4YXBxZGp3MmJoYWlpbjc1NWprZTB6YmJ3amNwNDV6eXk4cSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/IThjAlJnD9WNO/giphy.gif" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Bienvenidos a la página!, acá se ejemplifican los conocimientos funamentales de angular como:</p>
      <ul>
        <li>Componentes</li>
        <li>Módulo independiente</li>
        <li>Servicio para consumir datos externos</li>
        <li>Uso de ngIf y ngFor</li>
        <li>Lazy Loading</li>
        <li>Consumo de API mediante HTTP GET</li>
      </ul>
    </div>

</div>
