/* You can add global styles to this file, and also import other style files */
.container{
  background-color: rgb(223, 223, 223);
  background-size: cover;
  background-position: center;


  min-height: 100vh;
  min-width: 100vw;
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
